.account__main {
  width: 100%;
  height: 100vh;
}

.account__section {
  width: 50%;
  height: 100%;
  padding: 100px 120px;
  margin: auto;
}

.account__category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__button {
  cursor: pointer;
  width: 33%;
  border: none;
  background-color: transparent;
  color: var(--color-gray);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  transition: color 0.2s ease-out;
}

.account__button:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}

.account__button:nth-child(2) {
  display: flex;
  justify-content: center;
}

.account__button:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.account__button:hover {
  color: var(--color-black);
}

.account__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account__form input {
  border: none;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 30px;
}

.account__form input:focus {
  border: 1px solid var(--color-black);
  outline: none;
}

.submit__button {
  cursor: pointer;
  border: none;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 20px;
  margin-top: 20px;
  transition: all 0.2s ease-out;
}

.submit__button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.account__title {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.account__form label {
  color: var(--color-gray);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  margin-bottom: 10px;
}

.account__img {
  width: 100%;
  height: 100%;
  background: url("/img/account.png") center / cover;
}

.account__form.invisible {
  display: none;
}

.account__button.selected {
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}
