.cart__section {
  width: 90%;
  height: 100%;
  padding: 100px 120px;
  margin: auto;
}

.cart__header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  padding: 40px 0;
  gap: 20px;
  border-bottom: 1px solid var(--color-light-gray);
}

.cart__item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  gap: 20px;
  border-bottom: 1px solid var(--color-light-gray);
  align-items: center;
  padding: 40px 0;
}

.cart__title {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.cart__img {
  display: flex;
  align-items: center;
}

.cart__img img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  transition: opacity 0.2s ease-out;
}

.cart__product,
.cart__price,
.cart__quantity,
.cart__remove {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
  transition: color 0.2s ease-out;
}

.quantity__button {
  margin: auto;
  text-align: center;
}

.cart__quantity {
  width: 50px;
  height: 100%;
}

.cart__quantity:focus {
  border: none;
  outline: none;
}

.quantity__button input[type="number"] {
  -moz-appearance: textfield;
  color: var(--color-black);
  font-size: var(--font-micro);
  text-align: center;
  border: none;
  background-color: transparent;
}

.quantity__button input[type="number"]::-webkit-outer-spin-button,
.quantity__button input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.quantity__button button {
  height: 100%;
  cursor: pointer;
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  background-color: var(--color-light-gray);
  border: none;
}

.cart__remove {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cart__remove:hover {
  color: var(--color-light-gray);
}

.cart__img img:hover {
  opacity: 0.6;
}

.cart__item a:hover {
  color: var(--color-light-gray);
}

.cart__total {
  margin: 100px 0;
}

.total__title {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.cart__content {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.total__subtitle,
.total__price {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.total__subtitle {
  margin-right: 120px;
}

.checkout__button {
  cursor: pointer;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 20px;
  transition: all 0.2s ease-out;
  border: none;
  margin-top: 20px;
}

.checkout__button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
