.contact__main {
  position: relative;
}

.contact__section {
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100vh;
}

.contact__imgs {
  width: 100%;
  height: 100%;
}

.contact__img {
  width: 100%;
  height: 100%;
}

.contact__img:nth-child(1) {
  background: url("img/contact01.jpg") center / cover;
}
.contact__img:nth-child(2) {
  background: url("img/contact02.jpg") center / cover;
}

.contact__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  padding: 100px 120px;
}

.contact__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.contact__title h1 {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
}

.contact__title span {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.contact__adress {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  line-height: 1.5;
}

.contact__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.contact__email,
.contact__name {
  border: none;
  border-bottom: 1px solid var(--color-gray);
  background-color: transparent;
}

.contact__message {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid var(--color-gray);
  background-color: transparent;
  resize: none;
  color: var(--color-gray);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 1px;
  padding: 5px;
}

.contact__email::placeholder,
.contact__name::placeholder {
  color: var(--color-gray);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 1px;
}

.contact__email:focus,
.contact__name:focus {
  outline: none;
  border-bottom: 1px solid var(--color-black);
}

.contact__message:focus {
  outline: none;
  border: 1px solid var(--color-black);
}

.contact__button {
  cursor: pointer;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 20px;
  transition: all 0.2s ease-in;
  border: none;
}

.contact__button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.contact__icon {
  letter-spacing: 5px;
}

.contact__icon i {
  transition: color 0.2s ease-in;
}

.contact__icon i:hover {
  color: var(--color-light-gray);
}

#map {
  width: 100%;
  height: 50vh;
}
