/* footer */
/* instagram section */
.instagram__section {
  margin-top: 88px;
}

.insta__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.insta__item img {
  width: 100%;
  height: 100%;
}

/* info section */
.info__section {
  height: 40vh;
  margin-top: 88px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 60px;
}

.info__items {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.info__title {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.info__item {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 2.4;
  margin-top: 10px;
}

.info__item i {
  font-size: var(--font-small);
  margin-right: 4px;
}

.info__item:hover {
  font-style: italic;
}

.newsletter__form {
  position: relative;
  margin-bottom: 10px;
}

.newsletter__input {
  width: 70%;
  border: none;
  border-bottom: 2px solid var(--color-black);
  background-color: transparent;
  margin-top: 30px;
}

.newsletter__input:focus {
  border: none;
  border-bottom: 2px solid var(--color-black);
  outline: none;
}

.newsletter__input::placeholder {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
}

.newsletter__button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 78px;
  border: none;
  background-color: transparent;
  font-size: var(--font-small);
}
