/* footer */

/* info section */
.info__section {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  padding: 100px 120px;
  border-top: 1px solid var(--color-black);
}

.info__title {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.info__item {
  margin-top: 14px;
}

.info__items:nth-child(1) .info__item {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  font-style: italic;
}

.info__items:nth-child(3) .info__item {
  display: flex;
  flex-direction: column;
}

.info__item a {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: color 0.2s ease-out;
}

.info__item a:hover {
  color: var(--color-light-gray);
}

.newsletter__form {
  width: 100%;
}

.newsletter__input {
  width: 70%;
  border: none;
  border-radius: 4px;
  background-color: var(--color-light-gray);
  padding: 6px 10px;
  margin-top: 24px;
}

.newsletter__input:focus {
  border: none;
  outline: none;
}

.newsletter__input::placeholder {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
}

.newsletter__input:focus::placeholder {
  color: var(--color-gray);
}
