/* main */

/* gallery section */
.gallery__section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.gallery__items {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 40px;
}

.gallery__item {
  cursor: pointer;
  position: relative;
}

.gallery__img {
  width: 100%;
}

.gallery__img img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in;
}

.gallery__item:hover .gallery__img img {
  filter: grayscale(0.5);
}

.gallery__item:hover .shop__icon i {
  animation: appear-in 0.5s ease-in-out forwards;
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-out {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* shop section */
.shop__section {
  height: 20vh;
}

.shop__button {
  margin: auto;
  text-align: center;
}

.shop__button a {
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--color-light-gray);
  padding: 20px 24px;
  transition: opacity 0.2s ease-in-out;
}

.shop__button a:hover {
  opacity: 0.5;
}

/* scroll text */
.scroll__section {
  width: 100vw - 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 100px;
}

.scroll__title {
  display: flex;
  animation: scroll 40s linear infinite;
}

.scroll__text {
  -webkit-text-stroke: 1.5px var(--color-black);
  color: transparent;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 4px;
  margin-right: 80px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* lookbook section */
.lookbook__section {
  margin-top: 80px;
}

.lookbook__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100vh;
  row-gap: 100px;
}

.lookbook__item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lookbook__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lookbook__item:nth-child(1) .lookbook__img {
  background: url("/img/lookbook04.png") center / cover;
}

.lookbook__item:nth-child(2) .lookbook__img {
  background: url("/img/shoe01.png") center / cover;
}

.lookbook__item:nth-child(3) .lookbook__img {
  background: url("/img/hoodie01.png") center / cover;
}

.lookbook__item:nth-child(4) .lookbook__img {
  background: url("/img/lookbook05.png") center / cover;
}

.lookbook__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.lookbook__title span {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  letter-spacing: 10px;
  line-height: 50px;
}

.lookbook__title span:nth-child(2) {
  color: var(--color-white);
  font-style: italic;
}

.lookbook__item:nth-child(2),
.lookbook__item:nth-child(3) {
  padding: 100px;
}

.lookbook__img {
  width: 100%;
  height: 100%;
  background-color: violet;
}

.lookbook__item:nth-child(2) .lookbook__img,
.lookbook__item:nth-child(3) .lookbook__img {
  cursor: pointer;
  position: relative;
}

.lookbook__img img {
  width: 100%;
  transition: filter 0.3s ease-in;
}

.lookbook__img:hover .shop__icon i {
  animation: appear-in 0.5s ease-in-out forwards;
}

.lookbook__img:hover > img {
  filter: grayscale(0.5);
}

.shop__price {
  position: relative;
}

.shop__price span {
  margin-left: 10px;
}

.shop__underbar {
  width: 24px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -2px;
  background-color: var(--color-black);
}
