/* navigaiton */
.nav {
  width: 100%;
  height: 6vh;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

.navbar__center {
  display: flex;
  justify-content: center;
}

.navbar__center li:not(:last-child) {
  margin-right: 30px;
}

.navbar__side {
  display: flex;
  justify-content: flex-end;
}

.navbar__side li:not(:last-child) {
  margin-right: 30px;
}

.navbar__center li,
.navbar__side li {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  letter-spacing: 2.4;
  text-transform: uppercase;
}
