/* navigaiton */
.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-black);
  padding: 0 20px;
}

.navbar__column {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__column:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}

.navbar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.navbar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.navbar__menu:not(:last-child) {
  margin-right: 30px;
}

.navbar__menu {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.2s ease-out;
}

.navbar__menu:hover {
  color: var(--color-gray);
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown__items {
  width: 150px;
  position: absolute;
  top: 100%;
  left: -25%;
  display: none;
  z-index: 2;
}

.dropdown__item {
  display: block;
  padding: 20px;
}

.dropdown__item a {
  color: var(--color-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 1.4px;
  transition: color 0.2s ease-out;
}

.dropdown__item a:hover {
  color: var(--color-light-gray);
}

.dropdown:hover .dropdown__items {
  display: block;
  background-color: var(--color-black);
  animation: dropdown 0.3s ease-in-out forwards;
}

@keyframes dropdown {
  from {
    height: 0;
  }
  to {
    height: 170px;
  }
}

/* search */
.search__screen {
  cursor: default;
  width: 100%;
  height: 0;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 2;
}

.close__icon {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--color-black);
  font-size: var(--weight-regular);
  opacity: 0;
  transition: color 0.2s ease-out;
}

.close__icon:hover {
  color: var(--color-light-gray);
}

.search__input {
  width: 90%;
  max-width: 500px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  outline: none;
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  letter-spacing: 1.2px;
  padding: 10px;
  opacity: 0;
}

.search__input:focus {
  border: 1px solid var(--color-black);
}

.search__screen.active {
  height: 100vh;
}

.search__screen.active .search__input,
.search__screen.active .close__icon {
  transition: all 0.2s linear;
  opacity: 1;
}
