/* products */

#products__body {
  background-color: var(--color-white);
}

.pages__title {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 60px 145px;
}

.products__section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0 100px;
}

/* category */
.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px 40px 50px 40px;
}

.category__subtitle {
  color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  font-style: italic;
  -webkit-text-stroke: 1px var(--color-black);
  margin-bottom: 40px;
}

.category__form {
  width: 100%;
  position: relative;
}

.category__input {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--color-light-gray);
  padding: 10px;
}

.category__submit {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.category__submit i {
  font-size: var(--font-small);
}

.category__input::placeholder {
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-light);
}

.category__input:focus {
  border: none;
  outline: none;
}

.category__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
}

.category__title {
  width: 100%;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  letter-spacing: 2px;
  border-bottom: 1px solid var(--color-black);
  padding: 14px 0px;
  margin-bottom: 20px;
}

.category__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.category__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  letter-spacing: 1.2px;
  margin-bottom: 20px;
  transition: color 0.2s ease-in;
}

.category__button:hover {
  color: var(--color-light-gray);
}

.category__count {
  margin-left: 10px;
}

/* products */
.category__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 40px;
  padding: 100px 40px 50px 40px;
}

.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product__img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in;
}

.product:hover .product__img {
  opacity: 0.6;
}

/* filter */
.category__button.selected {
  font-weight: var(--weight-regular);
}

.category__products {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.category__products.filter__animation {
  opacity: 0;
  transform: translateY(20px);
}

.product.invisible {
  display: none;
}
