/* slideshow */
.slideshow__section {
  height: 88vh;
  position: relative;
  transition: filter 0.3s ease-in-out;
}

.slideshow__section:hover {
  filter: grayscale(0.5);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* slide text */
.slide__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__title {
  color: var(--color-white);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 24px;
}

.slide__subtitle {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slide__description {
  width: 50%;
  transform: translateX(50%);
  margin-top: 30px;
  color: var(--color-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  text-align: center;
  letter-spacing: 1px;
}

/* slide img */
.slide__img {
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) .slide__img {
  background: url("/img/main01.png") center / cover;
}

.slide:nth-child(2) .slide__img {
  background: url("/img/main02.png") center / cover;
}

.slide:nth-child(3) .slide__img {
  background: url("/img/main03.png") center / cover;
}

/* slide animation */
.showing {
  opacity: 1;
  z-index: 1;
}

@keyframes fade-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* slider buttons*/
.slider__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 4px;
  background: none;
  border: none;
  z-index: 1;
}

#slider__next {
  right: 32px;
}

#slider__prev {
  left: 32px;
}

.slider__arrow-next,
.slider__arrow-prev {
  width: 60px;
  height: 2px;
  position: relative;
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.slider__arrow-next {
  right: 0;
}

.slider__arrow-prev {
  left: 0;
}

.slider__arrow-next::after,
.slider__arrow-next::before,
.slider__arrow-prev::after,
.slider__arrow-prev::before {
  width: 16px;
  height: 2px;
  position: absolute;
  content: "";
  display: inline-block;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.slider__arrow-next::after {
  bottom: 5px;
  right: -2.4px;
  transform: rotate(45deg);
}

.slider__arrow-next::before {
  bottom: -5px;
  right: -2.4px;
  transform: rotate(-45deg);
}

.slider__arrow-prev::after {
  bottom: 5px;
  left: -2.4px;
  transform: rotate(-45deg);
}

.slider__arrow-prev::before {
  bottom: -5px;
  left: -2.4px;
  transform: rotate(45deg);
}

/* slider button hover */
.slider__button:hover .slider__arrow-next,
.slider__button:hover .slider__arrow-prev {
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.slider__button:hover .slider__arrow-next::after {
  width: 12px;
  bottom: 2px;
  right: 0px;
  transform: rotate(20deg);
  transition: all 0.3s ease-in-out;
}

.slider__button:hover .slider__arrow-next::before {
  width: 12px;
  bottom: -2px;
  right: 0px;
  transform: rotate(-20deg);
  transition: all 0.3s ease-in-out;
}

.slider__button:hover .slider__arrow-prev::after {
  width: 12px;
  bottom: 2px;
  left: 0;
  transform: rotate(-20deg);
  transition: all 0.3s ease-in-out;
}

.slider__button:hover .slider__arrow-prev::before {
  width: 12px;
  bottom: -2px;
  left: 0;
  transform: rotate(20deg);
  transition: all 0.3s ease-in-out;
}
