@import "/css/reset.css";
@import "/css/variables.css";
@import "/css/nav.css";
@import "/css/slideshow.css";

/* global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #050707;

  /* Font size */
  --font-large: 72px;
  --font-medium: 36px;
  --font-regular: 24px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extra-light: 200;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  padding: 0 20px;
}

/* main */

.trending__wrap {
  width: 100vw - 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.trending__items {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}

.trending__item {
  margin-bottom: 40px;
}

.trending__item img {
  width: 250px;
  height: 100%;
  transition: filter 0.3s ease-in-out;
}

.trending__item img:hover {
  filter: grayscale(0.5);
}

.trending__title {
  text-align: center;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  font-family: "Roboto", sans-serif;
}

.trending__button {
  position: absolute;
  top: 55%;
}

#trending__prev {
  left: 120px;
}

#trending__next {
  right: 120px;
}
