@import "/css/reset.css";
@import "/css/variables.css";
@import "/css/nav.css";
@import "/css/slideshow.css";
@import "/css/main.css";
@import "/css/footer.css";
@import "/css/products.css";
@import "/css/about.css";
@import "/css/contact.css";
@import "/css/faq.css";
@import "/css/account.css";
@import "/css/wishlist.css";

/* global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #050707;
  --color-gray: #808080;
  --color-light-gray: #d8dade;

  /* Font size */
  --font-large: 62px;
  --font-medium: 36px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extra-light: 200;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

/* logo */
#logo {
  position: relative;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  font-family: "Titillium Web", sans-serif;
  letter-spacing: -1px;
}

#logo span {
  position: absolute;
  top: -2px;
  left: -2px;
  color: var(--color-white);
  -webkit-text-stroke: 1px var(--color-black);
}

.copy__logo {
  padding: 2px 6px;
  margin-left: 100px;
  border: 1px solid var(--color-white);
  border-radius: 2px;
}

/* more button */
.more__button {
  position: relative;
  padding: 10px 0;
  margin-top: 30px;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.more__button-bar {
  width: 20px;
  height: 2px;
  position: absolute;
  bottom: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.story__item .more__button {
  color: var(--color-black);
  opacity: 1;
}

.story__item .more__button-bar {
  background-color: var(--color-black);
}

.more__button:hover {
  transition: all 0.3s ease-in-out;
}

.more__button:hover .more__button-bar {
  width: 74px;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

/* shop info */
.shop__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop__icon i {
  padding: 12px;
  background-color: var(--color-black);
  color: var(--color-white);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  animation: appear-out 0.5s ease-in-out forwards;
}

.shop__icon i:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-out {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shop__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.shop__info .shop__title {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.shop__info .shop__price {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

/* shop sale, new */
.shop__sale {
  padding: 5px 12px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black);
}

.shop__sale span {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
}

/* shop price */

.shop__price {
  position: relative;
}

.shop__price span {
  margin-right: 10px;
}

.shop__underbar {
  width: 24px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -2px;
  background-color: var(--color-black);
}

/* pages */
.pages__title {
  /* background-color: var(--color-light-gray); */
  /* border-top: 1px solid var(--color-black); */
  border-bottom: 1px solid var(--color-black);
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 60px 145px;
}
