@import "./css/reset.css";
@import "./css/variables.css";
@import "./css/nav.css";
@import "./css/slideshow.css";
@import "./css/main.css";
@import "./css/footer.css";
@import "./css/products.css";
@import "./css/about.css";
@import "./css/contact.css";
@import "./css/faq.css";
@import "./css/account.css";
@import "./css/wishlist.css";
@import "./css/cart.css";
@import "./css/producttype.css";

/* global */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

/* logo */
#logo img {
  width: 150px;
  height: auto;
}

.copy__logo {
  border: 1px solid var(--color-white);
  border-radius: 2px;
  padding: 2px 6px;
  margin-left: 100px;
}

/* see more button */
.more__button {
  position: relative;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  padding: 10px 0;
  margin-top: 30px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.more__button-bar {
  width: 20px;
  height: 2px;
  position: absolute;
  bottom: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.more__button:hover {
  transition: all 0.3s ease-in-out;
}

.more__button:hover .more__button-bar {
  width: 74px;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

/* shop info */
.shop__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop__icon i {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  animation: appear-out 0.5s ease-in-out forwards;
}

.shop__icon i:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-out {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shop__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.shop__title {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.shop__price {
  position: relative;
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.shop__price span {
  margin-right: 10px;
}

.shop__sale {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  padding: 5px 12px;
}

.shop__sale span {
  color: var(--color-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
}

.shop__sale-bar {
  width: 24px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -2px;
  background-color: var(--color-black);
}

/* pages title */
.pages__title {
  border-bottom: 1px solid var(--color-black);
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 60px 145px;
}

/* scroll slide-in */
@keyframes slide-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

/* For below 1024px screen width */
@media screen and (max-width: 1023px) {
  /* slide show */
  .slideshow__section {
    display: none;
  }

  /* lookbook section */
  .lookbook__items {
    justify-content: center;
  }

  .lookbook__item:nth-child(2),
  .lookbook__item:nth-child(3) {
    padding: 100px 0px;
  }

  /* footer */
  .info__section {
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    padding: 80px 100px;
  }

  .info__items:first-child {
    display: none;
  }

  /* pages title */
  .pages__title {
    display: none;
  }

  /* about, contact, FAQ section */
  .about__section,
  .contact__section,
  .faq__section {
    height: 100vh;
    grid-template-columns: 1fr;
  }

  .about__imgs,
  .contact__imgs,
  .faq__imgs {
    display: none;
  }

  .about__text,
  .contact__text,
  .faq__part {
    padding: 70px 90px;
  }

  .accordion__label {
    font-size: var(--font-micro);
    letter-spacing: 1px;
  }

  /* products section */
  .categories {
    display: none;
  }

  .products__section {
    grid-template-columns: 1fr;
  }

  /* products detail section */
  .type__img:nth-child(2) {
    display: none;
  }

  .type__text {
    position: static;
  }

  .related__section {
    display: none;
  }

  /* my account section */
  .account__section {
    padding: 120px 0;
  }

  .account__form {
    margin-top: 20px;
  }

  .account__form input {
    margin-bottom: 20px;
  }

  .account__title {
    margin-bottom: 20px;
  }

  /* wishlist section */
  .wishlist__section {
    padding: 100px 0;
  }
  .wishlist__header {
    display: none;
  }

  .wishlist__item {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
  }

  .wishlist__subtitle:nth-child(3) {
    display: none;
  }

  .wishlist__img img {
    width: 100px;
    height: 100px;
  }

  /* cart section */
  .cart__section {
    padding: 100px 0;
  }

  .cart__header {
    display: none;
  }

  .quantity__button {
    display: flex;
  }

  .cart__quantity {
    width: 30px;
  }

  .cart__img img {
    width: 100px;
    height: 100px;
  }

  /* shop icon */
  .shop__icon i {
    padding: 6px;
    font-size: var(--font-small);
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* global */
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 20px;
    --font-regular: 15px;
    --font-small: 12px;
    --font-micro: 8px;

    /* Font weight */
    --weight-bold: 600;
    --weight-semi-bold: 500;
    --weight-medium: 400;
    --weight-regular: 300;
    --weight-light: 300;
  }

  /* navbar */
  .navbar {
    display: none;
  }

  .sub__navbar {
    display: block;
  }

  /* view button */
  .view__button a {
    padding: 15px 20px;
  }

  /* scroll text */
  .scroll__section .scroll__text {
    -webkit-text-stroke: 1px var(--color-black);
  }

  /* products section */
  .category__products {
    padding: 100px 0;
  }

  /* footer */
  .info__section {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
  }

  .info__items:nth-child(3) .info__item {
    display: flex;
    flex-direction: row;
  }
}
